# Copy this file to .env and replace the credentials with
# your own before starting the app.

LANGUAGE_TRANSLATOR_IAM_APIKEY=<use iam apikey here>
LANGUAGE_TRANSLATOR_URL=<use url here>

# You need to provide either username and password
NATURAL_LANGUAGE_UNDERSTANDING_USERNAME=<use username here>
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD=<use password here>
NATURAL_LANGUAGE_UNDERSTANDING_URL=https://gateway.watsonplatform.net/natural-language-understanding/api
# OR IAM API key and URL
NATURAL_LANGUAGE_UNDERSTANDING_IAM_APIKEY=<use iam apikey here>
NATURAL_LANGUAGE_UNDERSTANDING_IAM_URL=<use url here>